
# no shadow
DEFINES=-DLINUX -DDEBUG 
LIBS=-lc -lcrypt

# shadow
# DEFINES=-DLINUX -DDEBUG  -DGT_SHADOW
# LIBS=-lc -lshadow -lcrypt

INCLUDES=-I${COMPILE_ROOT}include/
TARGET_DIR=${COMPILE_ROOT}Targets/
AR=ar rcs
RANLIB=ranlib
RM=rm -f
CC=cc
LD=ld 
CCFLAGS=-O2  -ggdb
COMPILEFLAGS=-ggdb -c
LDFLAGS=-L${COMPILE_ROOT}Targets
MAKE=make
MAKE_SUB=${MAKE} ${MAKE_SUB_OPTIONS} install -C
SUBDIRS=
